In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
dataset= pd.read_csv('WorldCupMatches.csv')
dataset

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:

dataset.shape

(4572, 20)

In [4]:
dataset.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [5]:
dataset.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

In [6]:
len(dataset.columns)

20

In [7]:

dataset.index

RangeIndex(start=0, stop=4572, step=1)

In [8]:
dataset.info

<bound method DataFrame.info of         Year              Datetime    Stage         Stadium         City  \
0     1930.0  13 Jul 1930 - 15:00   Group 1         Pocitos  Montevideo
1     1930.0  13 Jul 1930 - 15:00   Group 4  Parque Central  Montevideo
2     1930.0  14 Jul 1930 - 12:45   Group 2  Parque Central  Montevideo
3     1930.0  14 Jul 1930 - 14:50   Group 3         Pocitos  Montevideo
4     1930.0  15 Jul 1930 - 16:00   Group 1  Parque Central  Montevideo
...      ...                   ...      ...             ...          ...
4567     NaN                   NaN      NaN             NaN          NaN
4568     NaN                   NaN      NaN             NaN          NaN
4569     NaN                   NaN      NaN             NaN          NaN
4570     NaN                   NaN      NaN             NaN          NaN
4571     NaN                   NaN      NaN             NaN          NaN

     Home Team Name  Home Team Goals  Away Team Goals Away Team Name  \
0            France              4.0              1.0         Mexico
1               USA              3.0              0.0        Belgium
2        Yugoslavia              2.0              1.0         Brazil
3           Romania              3.0              1.0           Peru
4         Argentina              1.0              0.0         France
...             ...              ...              ...            ...
4567            NaN              NaN              NaN            NaN
4568            NaN              NaN              NaN            NaN
4569            NaN              NaN              NaN            NaN
4570            NaN              NaN              NaN            NaN
4571            NaN              NaN              NaN            NaN

     Win conditions  Attendance  Half-time Home Goals  Half-time Away Goals  \
0                        4444.0                   3.0                   0.0
1                       18346.0                   2.0                   0.0
2                       24059.0                   2.0                   0.0
3                        2549.0                   1.0                   0.0
4                       23409.0                   0.0                   0.0
...             ...         ...                   ...                   ...
4567            NaN         NaN                   NaN                   NaN
4568            NaN         NaN                   NaN                   NaN
4569            NaN         NaN                   NaN                   NaN
4570            NaN         NaN                   NaN                   NaN
4571            NaN         NaN                   NaN                   NaN

                     Referee               Assistant 1  \
0     LOMBARDI Domingo (URU)     CRISTOPHE Henry (BEL)
1          MACIAS Jose (ARG)  MATEUCCI Francisco (URU)
2        TEJADA Anibal (URU)   VALLARINO Ricardo (URU)
3      WARNKEN Alberto (CHI)       LANGENUS Jean (BEL)
4        REGO Gilberto (BRA)      SAUCEDO Ulises (BOL)
...                      ...                       ...
4567                     NaN                       NaN
4568                     NaN                       NaN
4569                     NaN                       NaN
4570                     NaN                       NaN
4571                     NaN                       NaN

                     Assistant 2  RoundID  MatchID Home Team Initials  \
0            REGO Gilberto (BRA)    201.0   1096.0                FRA
1          WARNKEN Alberto (CHI)    201.0   1090.0                USA
2            BALWAY Thomas (FRA)    201.0   1093.0                YUG
3       MATEUCCI Francisco (URU)    201.0   1098.0                ROU
4     RADULESCU Constantin (ROU)    201.0   1085.0                ARG
...                          ...      ...      ...                ...
4567                         NaN      NaN      NaN                NaN
4568                         NaN      NaN      NaN                NaN
4569                         NaN      NaN      NaN                NaN
4570                         NaN      NaN      NaN                NaN
4571                         NaN      NaN      NaN                NaN

     Away Team Initials
0                   MEX
1                   BEL
2                   BRA
3                   PER
4                   FRA
...                 ...
4567                NaN
4568                NaN
4569                NaN
4570                NaN
4571                NaN

[4572 rows x 20 columns]>

# TO CHECK THE MISSING VALUES

In [9]:
dataset.isnull().sum()

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

#Method1
Drop the field in which we have null values.
We delete a particular row if it has a null value for a particular feature and a particular column if it has more than 75% of missing values.
This method is advised only when there are enough samples in the dataset.

In [10]:
dataset.dropna(inplace=True)

In [11]:
dataset.isnull().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [12]:
dataset.shape

(850, 20)

#METHOD 2
We have to replace Nan with mean,median or mode.
This method is also called leaking the data while training

In [13]:
dataset['Year'].mean()

1985.0211764705882

In [14]:
dataset['Year'].tail()

847    2014.0
848    2014.0
849    2014.0
850    2014.0
851    2014.0
Name: Year, dtype: float64

In [15]:
dataset['Year'].replace(np.NaN,dataset['Year'].mean()).tail()

847    2014.0
848    2014.0
849    2014.0
850    2014.0
851    2014.0
Name: Year, dtype: float64

# SEE THE CATEGORICAL VALUES
Machine Learning Models are based on Mathematical equation and you can intituitively understand that it would cause some problem if we can keep the categorical data in the equations because we would only want numbers in the equation (ONLY KEEP NUMBERS INPLACE OF THE STRINGS)

In [5]:
dataset=pd.read_csv('Data.csv')

In [6]:
dataset

   Country  Age    Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [7]:
dataset.Purchased.replace(('Yes','No'),(1,0),inplace=True)

In [8]:
dataset

   Country  Age    Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0      NaN          1
5   France  35.0  58000.0          1
6    Spain   NaN  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

In [9]:
dataset.tail()

   Country  Age    Salary  Purchased
5   France  35.0  58000.0          1
6    Spain   NaN  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

In [10]:
X=dataset.iloc[:,:-1].values

In [11]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [12]:
dataset.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [13]:
dataset.dropna(inplace=True)

In [14]:
dataset.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

# WORKING ON CATEGORICAL VALUES¶
We need to encode the categorical variables
To convert categorical variable into numerical data, we can use LabelEncoder() class from preprocessing library

In [15]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [16]:
X=dataset.iloc[:,:-1].values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [17]:
X[:,0]

array(['France', 'Spain', 'Germany', 'Spain', 'France', 'France',
       'Germany', 'France'], dtype=object)

In [18]:
X[:,1]

array([44.0, 27.0, 30.0, 38.0, 35.0, 48.0, 50.0, 37.0], dtype=object)

In [19]:
X[:,0]

array(['France', 'Spain', 'Germany', 'Spain', 'France', 'France',
       'Germany', 'France'], dtype=object)

In [20]:
X[:,0]=label_encoder.fit_transform(X[:,0])
X[:,0]

array([0, 2, 1, 2, 0, 0, 1, 0], dtype=object)

In [21]:
X=np.array(X,dtype='int32')
X

array([[    0,    44, 72000],
       [    2,    27, 48000],
       [    1,    30, 54000],
       [    2,    38, 61000],
       [    0,    35, 58000],
       [    0,    48, 79000],
       [    1,    50, 83000],
       [    0,    37, 67000]])

In [22]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder=OneHotEncoder(categorical_features=[0])

TypeError: __init__() got an unexpected keyword argument 'categorical_features'

In [23]:
x=onehotencoder.fit_transform(X)
print(x)

NameError: name 'onehotencoder' is not defined

In [24]:
x=categorical_features.fit_transform(X)
print(x)

NameError: name 'categorical_features' is not defined

In [25]:
dummy=pd.get_dummies(dataset['Country'])
dummy

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
5       1        0      0
7       1        0      0
8       0        1      0
9       1        0      0

In [26]:
dataset=pd.concat([dataset,dummy],axis=1)
dataset

   Country  Age    Salary  Purchased  France  Germany  Spain
0   France  44.0  72000.0          0       1        0      0
1    Spain  27.0  48000.0          1       0        0      1
2  Germany  30.0  54000.0          0       0        1      0
3    Spain  38.0  61000.0          0       0        0      1
5   France  35.0  58000.0          1       1        0      0
7   France  48.0  79000.0          1       1        0      0
8  Germany  50.0  83000.0          0       0        1      0
9   France  37.0  67000.0          1       1        0      0

In [27]:
dataset=dataset.drop(['Country'],axis=1)

In [28]:
dataset.dropna(inplace=True)
y=dataset.iloc[:,2].values
y

array([0, 1, 0, 0, 1, 1, 0, 1], dtype=int64)

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
X_train

array([[    2,    27, 48000],
       [    2,    38, 61000],
       [    0,    35, 58000],
       [    0,    44, 72000],
       [    1,    50, 83000],
       [    1,    30, 54000]])

In [30]:
X_test

array([[    0,    48, 79000],
       [    0,    37, 67000]])

In [31]:
y_train

array([1, 0, 1, 0, 0, 0], dtype=int64)

In [32]:
y_test

array([1, 1], dtype=int64)

In [33]:
X

array([[    0,    44, 72000],
       [    2,    27, 48000],
       [    1,    30, 54000],
       [    2,    38, 61000],
       [    0,    35, 58000],
       [    0,    48, 79000],
       [    1,    50, 83000],
       [    0,    37, 67000]])

In [ ]:
#feature scaling -->next topic